<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>you are at chatview</p>
    <p>you are logged in as {{logged_in_name}}</p>
    <form action="../account/logout/">
        <button>logout</button>
    </form>
    <form action="" method="post">{%csrf_token%}
        <input name = "xyz" type="text" placeholder="enter username">
        <button type="submit">search</button>
    </form>
    {%for item in names%}
    <li>{{item}}</li>
    {%endfor%}
</body>
</html>